<h3><%= link_to "â¨ add an article", new_article_path %></h3>

<% @articles.each do |art| %>
<p>------------</p>
<p> <%= link_to art.title, article_path(art) %> </p>
<p> <%= link_to "ðŸ–‹", edit_article_path(art) %> <%= link_to "ðŸ—‘", article_path(art), method: :delete, data: { confirm: "Are you sure you want to delete?"} %> </p>
<% end %>
